table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000000;
}

th {
	text-align: center;
}

.tbl-head {
	text-align: center;
	background: #CCCCCC; 
	font-size: 10px;
	font-weight: bold;
}